<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p class="lead">Over <b>100,000</b> companies and developers trust CircleCI.</p>
        <span>REGARDS is an Open Source data valorization product, highly flexible to various themes, modular, efficient, long-lasting, evolutionary and scalable, aims at providing services to Mission Centers and laboratories, and is able to deal with huge amount of data. Our goal is to allow a strong commitment from user community in the development of modules and plugins</span>
        {% include social-buttons.html %}
      </div>
      <nav>
        <div class="col-md-2 col-md-offset-1">
          <h6>CircleCI</h6>
          <ul class="list-unstyled">
            <li><a href="https://circleci.com/about/">About Us</a></li>
            <li><a href="https://circleci.com/about/team/">Team</a></li>
            <li><a href="https://circleci.com/press/">Press</a></li>
            <li><a href="https://circleci.com/jobs/">Jobs</a></li>
            <li><a href="https://circleci.com/blog/">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Product</h6>
          <ul class="list-unstyled">
            <li><a href="https://circleci.com/features/">Features</a></li>
            <li><a href="https://circleci.com/mobile/">Mobile</a></li>
            <li><a href="https://circleci.com/enterprise/">Enterprise</a></li>
            <li><a href="https://circleci.com/pricing/">Pricing</a></li>
            <li><a href="https://circleci.com/customers/">Customers</a></li>
            <li><a href="https://circleci.com/changelog/">Changelog</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Support</h6>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}/">Documentation</a></li>
            <li><a href="https://discuss.circleci.com/" target="_blank">Community</a></li>
            <li><a href="https://circleci.com/security/">Security</a></li>
            <li><a href="https://circleci.com/privacy/">Privacy Policy</a></li>
            <li><a href="https://circleci.com/terms-of-service/">Terms of Service</a></li>
            <li><a href="https://circleci.com/contact/">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-5 additional-links">
        <span>Copyright © {{ site.time | date: '%Y' }} CNES</span>
      </div>
    </div>
  </div>
  <script src="{{ "/assets/js/vendor.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/site.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/home.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
</footer>
