<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p class="lead">A framework and a set of plugins to build scientific archives.</p>
        <span>REGARDS is an Open Source data valorization product, highly flexible to various themes, modular, efficient, long-lasting,
          evolutionary and scalable, aims at providing services to Mission Centers and laboratories, and is able to deal
          with huge amount of data.</span>
        <br />
        <span>Our goal is to allow a strong commitment from user community in the development of modules and plugins</span>
        {% include social-buttons.html %}
      </div>
      <!--
      <nav>
        <div class="col-md-2 col-md-offset-1">
          <h6>TODO</h6>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Working examples</h6>
          <ul class="list-unstyled">
            <li><a href="#">CDPP</a></li>
            <li><a href="#">SSALTO</a></li>
            <li><a href="#">TODO</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>TODO</h6>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}/">Documentation</a></li>
            <li><a href="#" target="_blank">Community</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
      </nav>
    -->
    </div>
    <div class="row">
      <div class="col-md-5 additional-links">
        <span>Copyright © {{ site.time | date: '%Y' }} CNES</span>
      </div>
    </div>
  </div>
  <script src="{{ " /assets/js/home.min.js " | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ " /assets/js/prism.js " | prepend: site.baseurl }}"></script>
</footer>