<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p class="lead">A framework and a set of plugins to build scientific archives.</p>
        <span>REGARDS is an Open Source data valorization product, highly flexible to various themes, modular,
          efficient, long-lasting,
          evolutionary and scalable, aims at providing services to Mission Centers and laboratories, and is able to
          deal
          with huge amount of data.</span>
        <br />
        <span>Our goal is to allow a strong commitment from user community in the development of modules and plugins</span>
        <div class="text-center-small-float-right">
          {% include social-buttons.html %}
        </div>
      </div>
      <nav>
        <div class="col-md-5 col-md-push-2">
          <div class="logo-footer-wrapper">
              <img class="logo-footer" src="/assets/img/logos/courbe-institutionnelle-signature_y110-inverser.png" />
            </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-5 additional-links">
        <span>Copyright © {{ site.time | date: '%Y' }} CNES</span>
      </div>
    </div>
  </div>
</footer>