<nav class="nav-toggle two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widescreen">
          <a id="logo" href="https://github.com/regardsoss">
            <img src="{{ '/assets/img/logos/regards.png' | prepend: site.baseurl }}" alt="REGARDS">
          </a>
        </div>

        <div class="narrowscreen">

          <a href="https://github.com/regardsoss">
            <img src="{{ '/assets/img/logos/regards.png' | prepend: site.baseurl }}" class="logo" alt="REGARDS">
          </a>

        </div>
      </div>
    </div>
  </div>
</nav>