<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ " /assets/css/fonts.css " | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ " /assets/css/site.css " | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/spacing.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/buttons.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/navbar.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/jquery.navgoco.css" | prepend: site.baseurl }}" type="text/css" media="screen" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<!-- End  -->
	<link rel="stylesheet" href="{{ " /assets/css/main.css " | prepend: site.baseurl }}" />
	<link rel='stylesheet' href="{{ " /assets/css/mobile.css " | prepend: site.baseurl }}" media="screen and (max-width: 800px)" />
	<link rel="stylesheet" href="{{ "/assets/css/footer.css" | prepend: site.baseurl }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ " /assets/css/prism.css " | prepend: site.baseurl }}">
	<title>{% if page.title %}{{ page.title | escape }} - REGARDS{% else %}{{ site.title | escape }} - REGARDS{% endif %}</title>
</head>