
<div class="overview-ligne">
  <div class="container-fluid">
    <h2>REGARDS (<i><b>RE</b>nouvellement des outils <b>G</b>énériques d'<b>A</b>ccès et d'a<b>R</b>chivage pour les <b>D</b>onnées <b>S</b>patiales)</i></h2>
    <p>Face aux nombreuses missions spatiales permettant de collecter des données d’observation et de télémétrie, une question de stockage, de gestion et de valorisation de l’information s’est rapidement imposée.
          Le projet REGARDS permet de répondre à cette demande sous la gestion d’un seul outil tout en permettant une large adaptabilité de configuration, afin de répondre à des besoins de traitements spécifiques.
        </p>
    </div>
</div>

<div class="overview-ligne">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-push-8">
        <img src="/assets/images/user-documentation/0-overview/overview_generic.png" alt="Generic Tool" class="vignette">
      </div>
      <div class="col-sm-7 col-sm-pull-4">
      <h2>Un outil générique, une maintenance simplifiée</h2>
      <p> L’objectif de cet outil est d’organiser de larges volumes de données provenant de sources diverses au sein d’une seule et même plateforme simplifiée. Ces données sont répertoriées sous forme de catalogue et leurs métadonnées viennent apporter des informations complémentaires afin de les rendre exploitables par le plus grand nombre.
          REGARDS permet également le déploiement de plugins afin d’opérer des traitements spécifiques au plus près de la donnée.
      </p>
    </div>
  </div>
</div>
</div>

<div class="overview-ligne">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-push-1">
        <img src="/assets/images/user-documentation/0-overview/overview_config.png" alt="Project configuration" class="vignette">
      </div>
      <div class="col-sm-7 col-sm-push-1">
      <h2>Une configuration au plus proche de vos projets</h2>
      <p> L’ensemble de la gestion de vos données est entièrement personnalisable. Vous pouvez développer vos propres modèles de données afin d’organiser comme vous le souhaitez votre catalogue; référencer vos recherches avec des métadonnées spécifiques; ou développer vos propres plugins afin d’appliquer des traitements selon votre utilisation des données.
          S’appuyant sur des technologies de diffusion d’information standardisées comme OpenSearch, vos recherches pourront être rendues accessibles depuis l’extérieur. Vous pourrez facilement en gérer l’accessibilité afin d’en assurer sa protection par l’emploi de "rôles utilisateurs" que ce soit pour un usage interne ou externe à REGARDS.
          Pour vous aider dans la gestion de vos projets, REGARDS est divisé en trois sections. Une section utilisateur permettant de consulter le catalogue et les données, une section gestionnaire permettant de paramétrer le catalogue et de gérer les données et une section administrateur permettant de gérer l’ensemble des projets et des utilisateurs.
      </p>
    </div>
  </div>
</div>
</div>

<div class="overview-ligne">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      <img src="/assets/images/user-documentation/0-overview/overview_data.png" alt="Data Sources" class="vignette">
    </div>
    <div class="col-sm-7 col-sm-pull-4">
      <h2>Un large choix de sources de données</h2>
      <p> Le catalogue peut être peuplé principalement par quatre sources différentes de données.
          Parmi les sources internes à REGARDS, on compte l’envoi de données au format standardisé suivant les recommandations OAIS. Elles peuvent être directement importées par les modules d’acquisition et d’ingestion de REGARDS ou par messages AMQP.
          Des données externes à l’environnement REGARDS peuvent également être importées en paramétrant des modèles de données pour les rendre interprétables. Il peut s’agir de base de données externes comme Postgres ou de sources web Opensearch.
        </p>
    </div>
  </div>
</div>
</div>

<div class="overview-ligne">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-push-1">
      <img src="/assets/images/user-documentation/0-overview/overview_plugin.png" alt="Plugins" class="vignette">
    </div>
    <div class="col-sm-7 col-sm-push-1">
      <h2>Des plugins évolutifs et coopératifs</h2>
      <p>REGARDS met à votre disposition de nombreux plugins permettant de configurer vos projets selon vos besoins. Vous pourrez ainsi accéder à vos données, les produire, les traiter, les rechercher ou les partager de la manière dont vous souhaitez.
          Si aucun de ces plugins ne convient à votre utilisation, vous pourrez facilement intégrer votre propre plugin JAVA ou JavaScript dans votre instance de REGARDS. Vous avez également la possibilité de le partager avec la communauté en faisant un pull-request sur le dépôt du git officiel.
      </p>
    </div>
  </div>
</div>
</div>

<div class="overview-ligne">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-sm-push-8">
          <img src="/assets/images/user-documentation/0-overview/overview_conclusion.png" alt="Conclusion" class="vignette">
        </div>
        <div class="col-sm-7 col-sm-pull-4">
          <h2>Pour résumer l’utilisation de REGARDS</h2>
          <p>Voyez REGARDS comme une gigantesque bibliothèque personnalisable, vous permettant d’accéder à vos données grâce à un catalogue qui en référence tous les éléments. Vous pouvez vous-mêmes définir la façon dont vos éléments vont être répertoriés grâce à un ou plusieurs modèles de données.
              Vous avez également la possibilité d’ajouter des métadonnées pour aider à leur recherche. Enfin, l’ajout de plugins permet le traitement spécifique de la donnée.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="overview-ligne">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7">
        <h2>Utilisation de REGARDS étape par étape</h2>
        <ol>
          <li><a href="/user-documentation/1-global-configuration/introduction-global-configuration/">Configurer
            l'instance de REGARDS</a></li>
          <li><a href="/user-documentation/2-project-configuration/introduction-project-configuration/">Configurer un
            projet REGARDS</a></li>
          <li><a href="/user-documentation/3-data-organization/models/">Définir les modèles de données</a></li>
          <li><a href="/user-documentation/4-import-data/import-data/">Importer les données</a>
            <ul>
              <li>Internes
                <ul>
                  <li><a href="/user-documentation/4_1-ingest/introduction-ingest/">Depuis des fichiers au format OAIS</a></li>
                  <li><a href="/user-documentation/4_2-dataprovider/introduction-acquisition/">Depuis des fichiers des fichiers scannés</a></li>
                  <li><a href="/user-documentation/4_3-fem/introduction-fem/">Depuis le feature manager (FEM)</a></li>
                </ul>
              </li>
              <li>Externes:
                <ul>
                  <li><a href="/user-documentation/5-crawler/configure-database/">Depuis des bases de données externes</a></li>
                  <li><a href="/user-documentation/5-crawler/introduction-crawler/">Depuis des sources de données web Opensearch</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/user-documentation/3-data-organization/dataset-collection/">Regrouper les données en jeux ou collections</a></li>
          <li><a href="/user-documentation/3-data-organization/data-access-rights/">Gérer les droits d’accès aux données</a></li>
          <li><a href="/user-documentation/5-crawler/introduction-crawler/">Peupler le catalogue</a></li>
          <li><a href="/user-documentation/6-catalog-consultation/introduction-catalog/">Consulter le catalogue</a></li>
          <li><a href="/user-documentation/7-data-services/introduction-services/">Ajouter des services aux données</a></li>
          <li><a href="/user-documentation/8-order-data/introduction-order/">Commander des données depuis le catalogue</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>